@model Telcel.R9.Estructura.Negocio.Empleado
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Empleados</h2>
            <p>Boton verde: Agregar un nuevo Empleado.</p>
            <p>Boton rojo: Eliminar un empleado.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.ActionLink("Agregar", "Add", "Empleado", new { area = "" }, new { @class = "btn btn-success" })
        </div>
    </div>
    <br />
    <hr />
    @if(Model.Empleados != null)
    {
        <div class="row">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>EmpleadoID</th>
                    <th>Nombre</th>
                    <th>PuestoID</th>
                    <th>Puesto</th>
                    <th>DescripcionID</th>
                    <th>Descripcion</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                    @foreach(Telcel.R9.Estructura.Negocio.Empleado empleado in Model.Empleados)
                    {
                        <tr>
                        <td>@empleado.EmpleadoID</td>
                        <td>@empleado.Nombre</td>
                        <td>@empleado.Puesto.PuestoID</td>
                        <td>@empleado.Puesto.Descripcion</td>
                        <td>@empleado.EmpleadoID</td>
                        <td>@empleado.Departamento.Descripcion</td>
                        <td><a class="btn btn-danger bi bi-trash" href="@Url.Action("Delete", "Empleado", new {EmpleadoID = empleado.EmpleadoID})" onclick="return confirm('Estas seguro que deseas eliminar estos datos?')"></a></td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
    }
</div>


